@mixin horizontal-slider{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding: 0.5rem 0;
    scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  
}

//máscara para imagen
@mixin transparent-mask {
    -webkit-mask-image: linear-gradient(#0c0a0f 30%, transparent 80%);
    mask-image: linear-gradient(#0c0a0f 30%, transparent 90%);
}

//Button position absolute (inside react player)
@mixin btn-positon-absolute {
  position: absolute;
  z-index: 2;
  top: 63%;
  left: 7%;
}