// Font Family
$manrope: 'Manrope', sans-serif;

// Font Weight
$regular: 400;
$bold: 700;

//font size
$small: 0.7em;
$medium: 0.9em;
$large: 1.1em;
$x-large: 3em;

//player button
$button-large: 1.3em;
