section{
    margin: 3rem 0 2rem 1.5rem;
    @media screen and (min-width: 992px){
        margin: 3rem 0 2rem 4rem;
        .scroll-gallery{
            .wrap-gallery{
                width: 15vw;
            }
        }
    }

}

// #popular, #trendingMovies, #upcoming{
//     margin: 2rem 0 2rem 1rem;
// }

// upcoming section
#upcoming{
    .wrap-gallery{
        width: 60vw;
    }
    @media screen and (min-width: 992px){
        .scroll-gallery{
            .wrap-gallery{
                width: 20vw;
            }
        }
    }  
}

